@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #23cc71;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 0px;
}
.repo-container {
  width: 70%;
  height: 700px;
  margin: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.align-center {
  background-color: #ffffff;
}

.align-center:hover {
  background-color: #DCDCDC;
  transition-duration: 0.9s;

}
.album-cover {
  height: 250px;
  width: 250px;
}
.repo-text {
  width: 100%;
}
.repo-description {
  font-style: bold;
}
.repo-image {
  text-align: center;
}

.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.footer {
  font-size: 18px;
  font-weight: 600;
}
.list {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  ul {
    padding-inline-start:  0;
  }
  .repo-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
 
}

@media screen and (max-width: 650px) {
  .container h1 {
   width: 100%;
   line-height: 74px;
} 
 
}
